.text-calc-container{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 80px;
}
.text-calc-container h2{
  color: #888;
  font-size: 35px;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  height: 70px;
  font-size: 35px;
  background-color: rgb(133, 134, 148);
  border: 1px solid lightgray;
  padding: 10px;
  text-align: right;
  color: #fff;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
